.navbar-section {
  height: 12vh;
}

.hidden {
  opacity: 0;
  transform: translateY(-100%);
}

.visible {
  opacity: 1;
  transform: translateY(0);
}

/* Title Animation */
.title-animation {
  animation: slideIn 1s 4s ease-out forwards;
}

.link-animation-6 {
  color: red;
}

.link-animation-1 {
  animation: slideIn 1s 4.5s ease-out forwards;
}

.link-animation-2 {
  animation: slideIn 1s 5s ease-out forwards;
}

.link-animation-3 {
  animation: slideIn 1s 5.5s ease-out forwards;
}

.link-animation-4 {
  animation: slideIn 1s 6s ease-out forwards;
}

.separator-animation,
.link-animation-5,
.link-animation-6 {
  animation: slideIn 1s 6.5s ease-out forwards;
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .link-animation-5,
  .link-animation-6 {
    animation: slideIn 1s 5.5s ease-out forwards;
  }

  .separator-animation {
    animation: slideIn 1s 6s ease-out forwards;
  }
}

@media (max-width: 767px) {
  .separator-animation {
    display: none !important;
  }

  .link-animation-1,
  .link-animation-2,
  .link-animation-3,
  .link-animation-4,
  .link-animation-5,
  .link-animation-6 {
    animation: slideIn 1s 0s ease-out forwards;
  }
}
