.code-block {
  background-color: #cac5dd;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: black;
  font-family: "Courier New", monospace;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.tutorial-elvish-image {
  max-height: 350px;
  max-width: 350px;
  border: 1px solid white;
}

@media (max-width: 575px) {
  .tutorial-elvish-image {
    max-height: 270px;
    max-width: 270px;
    border: 1px solid white;
  }
}
