.dark-modal .modal-content {
  background-color: rgb(40, 45, 58);
  color: white;
  border-radius: 20px;
}

.dark-modal .modal-body {
  background-color: rgb(133, 143, 161);
}

.dark-modal .modal-header,
.dark-modal .modal-footer {
  border-color: #333;
}

.dark-modal .btn,
.search-button {
  color: white;
  background-color: #333;
}
