:root {
  --purple: #7b1fa2;
  --violet: #b186fa;
  --pink: #f48fb1;
}

.spacer {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 960/100;
}

.spacer-one {
  background-image: url("./svg/wave_hero_start.svg");
}

.spacer-two {
  background-image: url("./svg/wave_quest_end.svg");
}

.quest-bg {
  background-image: url("./wallpapers/quest_grass_wallpaper.png");
  background-repeat: repeat;
}

.quest-title {
  font-family: "Space Mono", monospace;
  font-size: clamp(3rem, 4vw, 4rem);
  color: rgb(204, 204, 204);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: black;
}

.quest-text {
  font-family: "Space Mono", monospace;
  font-size: clamp(0.5rem, 1.2rem, 1.5rem);
  color: rgb(204, 204, 204);
  border-left: 2px solid rgb(204, 204, 204);
  font-weight: bold;
}

@media (max-width: 545px) {
  .quest-text {
    border-left: none;
  }
}

.quest-text > .magic {
  font-size: xx-large;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  background: -webkit-linear-gradient(57deg, #7b1fa2, #485497, #aa204e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span[class^="color-"] {
  font-weight: bold;
  color: black;
  padding: 1px;
}

.color-1 {
  background-color: #b95153;
}

.color-2 {
  background-color: #ce9d41;
}

.color-3 {
  background-color: #f7eb71;
}

.color-4 {
  background-color: #b5ec67;
}

.color-5 {
  background-color: #3f5e9b;
}

.color-6 {
  background-color: #6b57bd;
}

.color-7 {
  background-color: #a466d3;
}
