@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Oswald:wght@500&display=swap");

.hero-section {
  background-color: #031b29;
  height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroLogo {
  height: 300px;
}

#thegamerender {
  font-family: "Space Mono", monospace;
  font-size: clamp(3rem, 10vw, 10rem);
  color: white;
  padding: 0rem clamp(1rem, 2vw, 3rem);
  border-radius: clamp(0.4rem, 0.75vw, 1rem);
}
